h1{
   
    margin-left: 100px;
padding: 10px;
    font-size: 50px;
    color: rgb(255, 0, 221);    
}
p{
    font-size: 20px;
    color: rgb(204, 105, 166);
}

input{
    font-size: 50px;
    padding: 50px;
    border-radius: 15px;
    border: 2px solid rgb(168, 207, 223);
}

m